[submodule "catlib"]
	path = catlib
	url = https://github.com/agda/agda-categories.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/agda/agda-stdlib.git
[submodule "1lab"]
	path = 1lab
	url = https://github.com/the1lab/1lab.git
